.runko-box {
  background-color: #f2f2f7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.laskuri-box {
  background-color: #f2f2f7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
}

.runko-container {
  justify-content: center;
}

@media screen and (min-width: 880px) {
  .runko-container {
    display: flex;
    flex-wrap: wrap;
  }

  .runko-box,
  .laskuri-box {
    flex: 0 0 calc(45% - 10px);
    margin-right: 10px;
  }
}

.question p {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.question p::first-letter {
  text-transform: uppercase;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.answer-options input[type="radio"] {
  margin-right: 5px;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #a5ce3a;
  border-radius: 50%;
  outline: none;
  vertical-align: middle;
}
.answer-options input[type="radio"]:checked {
  background-color: #a5ce3a;
}

.answer-options label {
  vertical-align: middle;
}

.result-label::first-letter {
  text-transform: uppercase;
}

.result-label {
  font-size: 18px;
  margin: 5px 0;
}

.result-text {
  font-weight: 600;
}

.custom-link {
  text-align: center;
  text-decoration: none;
  color: #000;
}
